<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pom.poly.com.simple_tcpip_chat_app_v2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许振动 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ICG"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ICG"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            //back button skip the MainActivity
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatListActivity"
            android:label="ChatList"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <provider
            android:name=".BuddyAndChatListContentProvider"
            android:authorities="pom.poly.com.simple_tcpip_chat_app_v2.BuddyAndChatListContentProvider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MessageReciveService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyStartServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
